{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Telegram</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    <link href="{% static 'css/tailwind.css' %}?v=1.0.4" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}?v=2.0" rel="stylesheet">
</head>
<body class="flex h-full w-full justify-center items-start">
 <div id="auth-form" class="flex flex-col items-center justify-center gap-4 w-[360px]">
        <div class="mt-16 mb-8">
            <img src="{% static 'images/password.png' %}" alt="Password">
        </div>
        <h1 class="text-xl font-semibold">{% trans "Enter Password" %}</h1>
        <p class="text-gray-500 text-center mb-8">{% trans "You have Two-Step Verification enabled, so your account is protected with an additional password." %}</p>
        <div class="relative w-full">
                <label for="password" class="absolute left-4 -top-2 bg-white px-1 text-xs text-gray-500">
                    {% trans "Password" %}
                </label>
                <input
                        type="password"
                        id="password"
                        class="w-full rounded-xl border border-gray-300 focus:ring-2 focus:ring-primary focus:outline-none h-11 px-4"
                />
        </div>
        <div class="flex flex-col items-center justify-center mt-3 w-full">
            <button id="next"
                    class="uppercase background-primary text-white w-full h-12 rounded-xl hidden">{% trans "Next" %}</button>
        </div>
 </div>
</body>
<script>
        window.onload = function () {
             // Get references to the phone input, next button, and country code input
            const passwordInput = document.getElementById('password');
            const nextButton = document.getElementById('next');

            // Initially hide the "Next" button
            nextButton.style.display = 'none';

            function toggleNextButton() {
                const passwordValue = passwordInput.value.trim(); // Get the password input value
                if (passwordValue.length > 0) {
                    nextButton.style.display = 'block'; // Show the button if input has additional content
                } else {
                    nextButton.style.display = 'none'; // Hide the button if not
                }
            }

            // Add listeners for both user input and programmatic changes
            passwordInput.addEventListener('keydown', toggleNextButton);

            // Call the function initially
            toggleNextButton();
        }
</script>
</html>